<h2><%= @user.name %></h2>

<p><%= link_to "Edit user", edit_user_path(@user) %></p>
<p><%= link_to "Delete", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %></p>
<p><%= link_to "All users", users_path %></p>
